<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/users</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">pobeda</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <mapping resource="todolist/Item.hbm.xml"/>
    </session-factory>
</hibernate-configuration>